.type {
    max-width: 100%;

    margin: 120px 0 60px;
}

.slider {
    margin: 80px 0 60px 120px;
}

.slider__images {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 40px;
}

.slider__cover {
    width: 650px;
    height: 400px;
}

.slider__buttons {
    display: flex;
    gap: 20px;
}

.slider__button {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    background: #434343;
}

.slider__button_type_left {
    background-image: url(../../images/slider__btn_left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.slider__button_type_right {
    background-image: url(../../images/slider__btn_right.svg);
    background-position: center;
    background-repeat: no-repeat;
}