.bike-fix {
    max-width: 100%;

    display: flex;
    justify-content: space-between;
}

.bike-fix__button:hover {
    background-color: #319E75;
}

.bike-fix__cicle {
    margin: 157px 0 0;
    padding: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;

    color: #FFFFFF;
}

.bike-fix__cicle::after {
    content: '';
    width: 132px;
    height: 2px;

    display: inline-block;
    margin: 0 0 5px 30px;

    background: #707070;
}

.bike-fix__cover {
    width: 610px;
    height: 836px;
    margin: 20px 0 0;

    background-image: url(../../images/bike-bc.jpg);
    background-position: center;
    background-size: contain;

    position: relative;
}

.bike-fix__bike-bc {
    width: 440px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* position: fixed; */

    border-radius: 20px;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);

    background: #f4f4f4;
    transform: translateX(-50%);
}